/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &trans  &kp W           &kp L               &kp P             &kp V        &kp K          &kp F              &kp U                &kp Y            &trans  &trans
&trans  &kp J   &mt LEFT_ALT R  &mt LEFT_CONTROL S  &mt LEFT_SHIFT T  &kp G        &kp M          &mt RIGHT_SHIFT N  &mt RIGHT_CONTROL E  &mt RIGHT_ALT I  &kp B   &trans
&kp Q   &kp A   &kp DOT         &kp C               &kp D             &trans       &trans         &kp H              &kp Z                &kp COMMA        &kp O   &kp X
                                &kp ENTER           &lt 1 TAB         &kp SPACE    &kp BACKSPACE  &lt 2 DEL          &kp ESCAPE
            >;
        };

        lower_layer {
            bindings = <
&trans  &trans     &kp CARET  &kp LESS_THAN  &kp GREATER_THAN  &trans    &trans  &kp RIGHT_PARENTHESIS  &kp RBKT  &kp RIGHT_BRACE  &trans    &trans
&trans  &kp N1     &kp MINUS  &kp PLUS       &kp EQUAL         &kp N5    &kp N6  &kp LEFT_PARENTHESIS   &kp LBKT  &kp LEFT_BRACE   &kp N0    &trans
&trans  &kp ASTRK  &kp N2     &kp N3         &kp N4            &trans    &trans  &kp N7                 &kp N8    &kp N9           &kp FSLH  &trans
                              &trans         &trans            &trans    &trans  &trans                 &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans     &kp PIPE                &kp UNDER                       &kp AMPS                     &trans    &trans  &kp EXCL     &kp UP_ARROW  &kp QUESTION  &trans    &trans
&trans  &trans     &mt LEFT_ALT BACKSLASH  &mt LEFT_CONTROL DOUBLE_QUOTES  &mt LEFT_SHIFT SINGLE_QUOTE  &trans    &trans  &kp LEFT     &kp DOWN      &kp RIGHT     &trans    &trans
&trans  &kp COLON  &kp DOLLAR              &kp TILDE                       &kp GRAVE                    &trans    &trans  &kp AT_SIGN  &kp PERCENT   &kp HASH      &kp SEMI  &trans
                                           &trans                          &trans                       &trans    &trans  &trans       &trans
            >;
        };
    };
};
