/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp LEFT_WIN  &kp TAB  &kp Q  &kp W           &kp E  &kp V        &kp Y          &kp U  &kp H             &kp F  &kp ENTER  &kp DELETE
&kp LEFT_ALT  &kp X    &kp A  &kp S           &kp D  &kp C        &kp N          &kp T  &kp I             &kp O  &kp Z      &kp ESC
&to 2         &kp DOT  &kp R  &kp G           &kp B  &kp J        &kp K          &kp M  &kp P             &kp L  &kp COMMA  &to 1
                              &kp LEFT_SHIFT  &mo 2  &kp SPACE    &kp BACKSPACE  &mo 1  &kp LEFT_CONTROL
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N1           &kp N2             &kp N3                 &kp N4            &kp N5       &kp N6         &kp N7     &kp N8            &kp N9     &kp N0     &trans
&trans  &kp LEFT_BRACE   &kp LEFT_BRACKET   &kp LEFT_PARENTHESIS   &kp LESS_THAN     &kp CARET    &kp SLASH      &kp LEFT   &kp UP            &kp DOWN   &kp RIGHT  &trans
&trans  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp GREATER_THAN  &trans       &trans         &kp EQUAL  &kp PLUS          &kp MINUS  &kp ASTRK  &to 0
                                            &kp LEFT_SHIFT         &trans            &kp SPACE    &kp BACKSPACE  &trans     &kp LEFT_CONTROL
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &kp AT            &kp HASH        &kp DLLR       &trans       &trans         &kp SEMI   &kp APOS           &kp EXCL      &trans  &trans
&trans  &trans  &kp AMPS          &kp PIPE        &kp BACKSLASH  &trans       &trans         &kp COLON  &kp DOUBLE_QUOTES  &kp QUESTION  &trans  &trans
&to 0   &trans  &kp C_AC_REFRESH  &kp TILDE       &kp GRAVE      &trans       &trans         &kp UNDER  &kp PERCENT        &kp CLCK      &trans  &trans
                                  &kp LEFT_SHIFT  &trans         &kp SPACE    &kp BACKSPACE  &trans     &kp LEFT_CONTROL
            >;
        };
    };
};
