/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &trans  &kp W    &kp L    &kp P  &kp V        &kp K          &kp F  &kp U      &kp Y      &trans  &trans
&trans  &kp J   &kp R    &kp S    &kp T  &kp G        &kp M          &kp N  &kp E      &kp I      &kp B   &trans
&kp Q   &kp A   &kp DOT  &kp C    &kp D  &trans       &trans         &kp H  &kp Z      &kp COMMA  &kp O   &kp X
                         &kp TAB  &mo 1  &kp SPACE    &kp BACKSPACE  &mo 2  &kp ENTER
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans         &trans          &kp LEFT_PARENTHESIS  &kp PLUS      &kp EQUAL    &kp CARET      &kp ASTRK  &kp RIGHT_PARENTHESIS  &trans           &trans            &trans
&trans  &kp LESS_THAN  &kp NUMBER_2    &kp NUMBER_3          &kp NUMBER_4  &kp N5       &kp NUMBER_6   &kp N7     &kp N8                 &kp N9           &kp GREATER_THAN  &trans
&trans  &kp NUMBER_1   &kp LEFT_BRACE  &kp LEFT_BRACKET      &kp MINUS     &trans       &trans         &kp SLASH  &kp RIGHT_BRACKET      &kp RIGHT_BRACE  &kp N0            &trans
                                       &kp LEFT_SHIFT        &trans        &kp SPACE    &kp BACKSPACE  &trans     &kp LEFT_CONTROL
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans        &trans     &trans      &kp AMPS      &kp UNDER  &kp TILDE       &kp PRCNT        &kp PIPE     &kp BACKSLASH  &trans    &trans      &trans
&kp LEFT_ALT  &kp DEL    &kp SQT     &kp UP_ARROW  &kp DOWN   &kp QUESTION    &kp EXCLAMATION  &kp LEFT     &kp RIGHT      &kp DQT   &kp ESCAPE  &kp CAPS
&trans        &kp COLON  &kp DOLLAR  &trans        &kp GRAVE  &trans          &trans           &kp AT_SIGN  &trans         &kp HASH  &kp SEMI    &trans
                                     &trans        &trans     &trans          &trans           &trans       &trans
            >;
        };
    };
};
